asgiref==3.3.4
certifi==2021.5.30
chardet==4.0.0
Django==3.2.3
django-crispy-forms==1.11.2
docker==5.0.0
html5lib==1.0.1
httplib2==0.14.0
idna==2.10
psycopg2-binary==2.8.6
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.25.8
webencodings==0.5.1
websocket-client==1.0.1
