{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }} - {{block.super}}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>
    <p>
        {{ post.body }}
    </p>

    

    {% if request.user.is_authenticated %}
        <form class="" action="" method="post">
            {% csrf_token %}
            
            <div>Note: Please start your solution with method 'sol'</div>

            <textarea name=code cols=80 rows=20>def sol():</textarea>

            <button type="submit" name="button">submit</button>

        </form>
    {% else %}
        <div>Please Log In first to submit</div>
    {% endif %}
{% endblock %}