{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }} - {{block.super}}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>
    <p>
        {{ post.body }}
    </p>

    <div>Note: Please start your solution with method 'sol'</div>

    {% if request.user.is_authenticated %}
    <form class="" action="" method="post">
        {% csrf_token %}

        <button type="submit" name="button">submit</button>

    </form>
    {% endif %}
{% endblock %}